@use "../../../../sass/abstracts/vars";

.header {
 height: vars.$header_height;
 //background-color: pink;
 padding: 1rem;
 border-bottom: 1px solid #ccc;
 display: flex;
 align-items: center;
 &__title {
  font-family: "Merriweather", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
 }
}
