@use "../../../../sass/abstracts/mixins";

.the_title_slide {
 width: 100%;
 height: 100%;
 background-size: cover;
 background-position: center center;
 display: flex;
 align-items: center;
 justify-content: center;
 &::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
 }
 &__text {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: white;
  text-align: center;
  @include mixins.breakpoint(sm) {
   padding: 4rem;
  }
 }
}
.textOnly_container {
 //background-color: aqua;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}
.the_banner_image {
 display: none;
 @include mixins.breakpoint(md) {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
 }
}
.the_banner_image_mobile {
 padding: 1rem;
 @include mixins.breakpoint(md) {
  display: none;
 }
 img {
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
 }
 &_content {
  //padding: 1rem;
 }
}

.the_photo_title {
 font-size: 1.25rem;
 font-weight: bold;
 margin-bottom: 0.5rem;
}

.the_caption {
 font-family: "Merriweather", sans-serif;
 //font-style: italic;
 margin-top: 5px; /* Space above the caption */
 font-size: 0.9rem;
 line-height: 1.6;
 margin-bottom: 0.5rem;
 font-weight: 400;
 @include mixins.breakpoint(sm) {
  font-size: 1rem;
 }
}

.the_meta {
 font-family: "Roboto", sans-serif;
 color: #6c757d; /* Dark gray color */
 font-size: 0.75rem; /* Slightly smaller font size */
 @include mixins.breakpoint(sm) {
  font-size: 0.85rem;
 }
}
.the_title {
 font-family: "Merriweather", sans-serif;
 font-size: 2rem;
 font-weight: bold;
 //  background-color: green;
 margin-bottom: 1rem;
 &_block {
  //background-color: pink;
  height: 4rem;
  margin-top: 2rem;
  @include mixins.breakpoint(sm) {
   height: 4.5rem;
  }
  @include mixins.breakpoint(md) {
   height: 5rem;
  }
  @include mixins.breakpoint(lg) {
   height: 6rem;
  }
 }
 @include mixins.breakpoint(sm) {
  font-size: 2.25rem;
 }
 @include mixins.breakpoint(md) {
  font-size: 2.75rem;
 }
 @include mixins.breakpoint(lg) {
  font-size: 3.5rem;
 }
}
.the_excerpt {
 font-family: "Roboto", sans-serif;
 font-size: 1.15rem;
 line-height: 1.4;
 margin-top: 5px; /* Space above the caption */
 @include mixins.breakpoint(md) {
  font-size: 1.35rem;
 }
}
.the_rich_excerpt {
 //background-color: pink;
 font-size: 1.15rem;
 line-height: 1.4;
 @include mixins.breakpoint(md) {
  font-size: 1.35rem;
 }
 strong {
  font-weight: bold;
 }
 em {
  font-style: italic;
 }
 h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  @include mixins.breakpoint(md) {
   font-size: 1.5rem;
  }
 }
 p {
  margin-bottom: 1rem;
 }
 ul {
  list-style-type: disc;
  padding-left: 1rem;
  margin-bottom: 1rem;
  li {
   margin-bottom: 0.5rem;
   a:hover {
    color: gray;
   }
  }
 }
}
.quote {
 //background-color: aqua;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1rem 1rem 0 1rem;
 @include mixins.breakpoint(sm) {
  padding: 1rem 1.5rem 0 1.5rem;
 }
 @include mixins.breakpoint(md) {
  padding: 1rem 2rem 0 2rem;
 }
}
.the_quote {
 font-family: "Merriweather", sans-serif;
 font-style: italic;
 font-size: 1.1rem;
 padding-bottom: 1.5rem;
 margin-bottom: 1.5rem;
 position: relative;
 &::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5rem;
  height: 2px;
  background-color: #ccc;
 }
 @include mixins.breakpoint(sm) {
  font-size: 1.2rem;
 }
 @include mixins.breakpoint(md) {
  font-size: 1.5rem;
 }
}
.the_quote_author {
 & > p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
 }
}
.the_quote_citation {
 p {
  font-family: "Roboto", sans-serif;
  color: #6c757d; /* Dark gray color */
  font-size: 0.75rem; /* Slightly smaller font size */
  line-height: 1.1;
  @include mixins.breakpoint(sm) {
   font-size: 0.85rem;
  }
 }
}
.the_video {
 //  background-color: green;
 width: 100%;
 height: 100%;
}
.embed-responsive {
 position: relative;
 display: block;
 width: 100%;
 padding: 0;
 overflow: hidden;
 margin-bottom: 0.5rem;
 background-color: black;
 &::before {
  display: block;
  content: "";
 }
 &.embed-responsive-16by9 {
  &::before {
   // 2344 w, 1563 h
   //padding-top: 66.6667%;
   padding-top: 56.25%;
  }
 }
 &-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  border: 0;
 }
}
