@use "../../../../sass/abstracts/mixins";

.the_title_slide {
 width: 100vw;
 height: 100vh;
 background-size: cover;
 background-position: center center;
 display: flex;
 align-items: center;
 justify-content: center;
 &::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
 }
 &__text {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: white;
  text-align: center;
  @include mixins.breakpoint(sm) {
   padding: 4rem;
  }
 }
}
.textOnly_container {
 //background-color: red;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.the_banner_image {
 width: 100%;
 height: 100%;
 background-size: cover;
 background-position: center center;
}

.the_photo {
 margin-bottom: 1rem;
}

.the_caption {
 font-family: "Merriweather", sans-serif;
 //font-style: italic;
 margin-top: 5px; /* Space above the caption */
 font-size: 0.9rem;
 @include mixins.breakpoint(sm) {
  font-size: 1rem;
 }
}

.the_meta {
 font-family: "Roboto", sans-serif;
 color: #6c757d; /* Dark gray color */
 font-size: 0.75rem; /* Slightly smaller font size */
 @include mixins.breakpoint(sm) {
  font-size: 0.85rem;
 }
}
.the_title {
 font-family: "Merriweather", sans-serif;
 font-size: 2rem;
 font-weight: bold;
 //  background-color: green;
 margin-bottom: 1rem;
 @include mixins.breakpoint(sm) {
  font-size: 2.25rem;
 }
 @include mixins.breakpoint(md) {
  font-size: 2.75rem;
 }
 @include mixins.breakpoint(lg) {
  font-size: 3.5rem;
 }
}
.the_excerpt {
 font-family: "Roboto", sans-serif;
 font-size: 1.1rem;
 margin-top: 5px; /* Space above the caption */
}
.quote {
 //background-color: aqua;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1rem 4rem 0 4rem;
}
.the_quote {
 font-family: "Merriweather", sans-serif;
 font-style: italic;
 font-size: 1.5rem;
 padding-bottom: 1.5rem;
 margin-bottom: 1.5rem;
 position: relative;
 &::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5rem;
  height: 2px;
  background-color: #ccc;
 }
}
.the_quote_author {
 font-family: "Roboto", sans-serif;
 font-size: 1rem;
 font-weight: bold;
}
.the_quote_citation {
 font-family: "Roboto", sans-serif;
 color: #6c757d; /* Dark gray color */
 font-size: 0.75rem; /* Slightly smaller font size */
 @include mixins.breakpoint(sm) {
  font-size: 0.85rem;
 }
}
.the_video {
 //background-color: green;
 width: 100%;
 height: 100%;
}
.embed-responsive {
 position: relative;
 display: block;
 width: 100%;
 padding: 0;
 overflow: hidden;
 margin-bottom: 0.5rem;
 //background-color: pink;
 &::before {
  display: block;
  content: "";
 }
 &.embed-responsive-16by9 {
  &::before {
   // 2344 w, 1563 h
   //padding-top: 66.6667%;
   padding-top: 56.25%;
  }
 }
 &-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  border: 0;
 }
}
